<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link class="styless" rel="stylesheet" href="<%=add%>">
</head>

<body>

    <!-- Header-------------------------------------------------------------------------------------------------------------------->
    <%- include("partials/header.ejs")%>

    <!-- BlogArea------------------------------------------------------------------------------------------------------------------>
    <div class="grid-container">
        <% if( blogs.length===0) {%>
            <h4 class="notice"> No Blogs to See, Click on top Right + Button to Create a New Post </h4>
            
            <% } else { %>
             
                <% if( locals.blogs ){ %>

                    <% for( i=blogs.length-1; i>=0  ; i--) { %>

                        <div class="blogcard">
                            <p class="datetime"> Posted On <%= blogs[i].date %> ,at <%= blogs[i].day %>
                            </p>
                            <p class="blog" id="blogtitle">
                                <%= blogs[i].title %>
                            </p>
                            <p class="blog" id="blogcontent">
                                <%= blogs[i].content %>
                            </p>

                            <div class="buttonarea">
                                <form action="/editpost" method="post">
                                    <input name="editbutton" value=<%=i%> hidden >
                                    <input class="button" id="edit" type="submit" value="Edit">
                                </form>
                                <form action="/deletepost" method="post">
                                    <input name="delbutton" value=<%=i%> hidden >
                                    <input class="button" id="del" type="submit" value="Delete">
                                </form>
                            </div>
                        </div>
                        <% } %>
                            <% } %>
                    <% } %>
    </div>

    <!-- Footer-------------------------------------------------------------------------------------------------------------------->
    <%- include("partials/footer.ejs")%>
<script src="script.js"></script>
</body>

</html>